@import "../../styles/styles.scss";

.transition {
  height: auto;
  width: auto;
  perspective: 1000px;
  //border: solid 1px red;
}

.card {
  width: 300px;
  aspect-ratio: 3 / 4;
  transform-style: preserve-3d;
  position: relative;
  border-radius: 5px;
  border: white 10px solid;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
  user-select: none;
  cursor: pointer;
}

.card_front,
.card_back {
  // border: solid 1px red;
  //box-sizing: border-box;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  font-weight: 800;

  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  //overflow: hidden;
  @include H_Small;
}

.card_front {
  color: black;
  background-color: #fcf5ef;
  transform: rotateY(180deg); // rotate the card to show the back
}

.card_back {
  color: white;
  background-color: #fcf5ef;

  align-items: center;
}
