@import '../../styles/styles.scss';

.transition {
  height: auto;
  width: 200px;
  perspective: 1000px;
}

.card {
  aspect-ratio: 3 / 4;
  transform-style: preserve-3d;
  position: relative;
  border-radius: 5px;
  border:white 10px solid;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
  user-select: none;
  cursor: pointer;
}

.card_front,
.card_back {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  font-weight: 800;
  
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden; 
  @include H_Small;
}

.card_front {
  color: black;
  background-color: #fcf5ef;
  
}

.card_back {
  color: white;
  background-color: #fcf5ef;
  transform: rotateY(180deg);
  align-items: center;
}