.postcard_list {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.wrap{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.wrap_alert{
  font-weight: 400;
  font-size: 42px;
  letter-spacing: 4px;
  text-align: center;
  font-family: 'Rubik';
}