@import "../../../../styles/styles.scss";

.postcard_list {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.wrap {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.wrap_alert {
  font-weight: 400;
  font-size: 42px;
  letter-spacing: 4px;
  text-align: center;
  font-family: "Rubik";
}
.btn {
  box-sizing: border-box;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.friends_list {
  overflow-y: scroll;
  height: 400px;
}
.friendCard {
  //border: 5px solid #ddd;
  color: white;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  width: 350px;
  text-align: center;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}
.friendCard_white {
  border: 5px solid #ddd;
}
.friendCard_gold {
  border: 5px solid gold;
}
.pop_up {
  color: white;
}
.hidden {
  display: none;
}
.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: white;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}
.card {
  aspect-ratio: 3 / 4;
  transform-style: preserve-3d;
  box-sizing: border-box;
  border-radius: 5px;
  border: white 10px solid;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
  user-select: none;
  cursor: pointer;
  height: auto;
  width: 200px;
  perspective: 1000px;
  overflow: hidden;
  margin-bottom: 2rem;
}
.front__image {
  width: 100%;
}
.no_draggable {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.inputs {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: row;
}
