@mixin container {
  padding: 5rem 3rem;
}


@mixin H_Huge {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0px;
}

@mixin H_Big {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0px;
}

@mixin H_Medium {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0px;
}

@mixin H_Small {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0px;
}
