$dark-100:#010e0e;
$darkish-100:#121B1E;
$gray-100:#374647;
$gray-80:#626e6f;
$gray-60:#7f8a8a;
$gray-40:#a7b2b3;
$gray-10:#d0d4d4;
$gray-5:#e6eaea;
$gray-0:#eff3f3;
$white-100:#FFFFFF;
$white-72:rgba(255, 255, 255, 0.72);
$white-40:rgba(255, 255, 255, 0.40);
$white-12:rgba(255, 255, 255, 0.12);
$primary-100:#8DCFDE;
$primary-50:#28f6fd;
$primary-20:#5ceff4;
$primary-10:#a1fcff;
$primary-5:#e1fbfc;
$primary-0:#f2fcfd;