@import "../../styles/styles.scss";

.container {
  padding: 0rem;
  display: flex;
  flex-direction: column;
}
.update {
  margin: 1em 0rem;
}
.btn {
  width: 100%;
  margin: 1em 0rem;
}
.save {
  width: 20%;
  height: 50px;
}
.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin: 0;
  width: 400px;
  margin-right: 0%;
  margin-left: auto;
}

.postcard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.postcard_list {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.container_button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.indicator {
  @include H_Huge;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: $dark;
  border-radius: 50%;
  color: white;
  top: -170px;
}
