@import "../../styles/styles.scss";
.container {
  padding: 20px;
  h2 {
    @include H_Huge;
  }
}

.grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
}

.friendCard {
  border: 5px solid #ddd;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  text-align: center;
  background-color: $darkish-100;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
