// @import url('https://fonts.googleapis.com/css?family=Rubik');

// @mixin H_Big{font-family: 'Rubik';font-style: normal;font-weight: 400;font-size: 128px;letter-spacing: 0px;}
// @mixin H_Medium{font-family: 'Rubik';font-style: normal;font-weight: 300;font-size: 96px;letter-spacing: 0px;}
// @mixin H_Medium_small{font-family: 'Rubik';font-style: normal;font-weight: 200;font-size: 46px;letter-spacing: 0px;}

// @mixin H_Small{font-family: 'Rubik';font-style: normal;font-weight: 400;font-size: 36px;letter-spacing: 0px;}
// $Dark100:#010e0e;
// $Darkish100:#121B1E;
// $Gray100:#374647;
// $Gray80:#626e6f;
// $Gray60:#7f8a8a;
// $Gray40:#a7b2b3;
// $Gray10:#d0d4d4;
// $Gray5:#e6eaea;
// $Gray0:#eff3f3;
// $White100:#FFFFFF;
// $White72:rgba(255, 255, 255, 0.72);
// $White40:rgba(255, 255, 255, 0.40);
// $White12:rgba(255, 255, 255, 0.12);
// $Primary100:#8DCFDE;
// $Primary50:#28f6fd;
// $Primary20:#5ceff4;
// $Primary10:#a1fcff;
// $Primary5:#e1fbfc;
// $Primary0:#f2fcfd;

// .container2{
//   background-position: right top;
//   background-image:  url('../../assets/pattern_4.png');
//   background-size: 1000px;
//   background-repeat: repeat-y;
//   border: solid red 1px;
//   height: 3000px;

// }

// .nav{
//   background-color: $White100;
//   position: relative;
//   &_logo{
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     padding: 0 5rem;
//     &__h{
//       position: relative;
//       margin: 2rem 3rem;
//       @include H_Medium;
//       color: $Darkish100;
//       z-index: 100;
//       // &::after {
//       //   content: '';
//       //   position: absolute;
//       //   z-index: -100;
//       //   width: 95%;
//       //   height: 50%;
//       //   top: 3.2rem;
//       //   left: -2rem;
//       //   display: block;
//       //   background: $Primary100;
//       //   border-radius: 25px;
//       // }
//     }
//   }
//   &_menu{
//     //display: none;
//     position: absolute;
//     right: 1rem;
//     top: 50%;
//     transform: translateY(-50%);
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     gap: 2rem;
//     &_sign{
//       text-decoration: none;
        
//       &_btn{
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         background-color: $Darkish100;
//         border-radius: 15px;
//         border: none;
//         padding: 1rem;
//         cursor: pointer;
//         &:hover{
//           background-color: $Gray100;
//           transition: all 0.3s;
//         }
//         &__img{

//         }
//         &__p{
//           margin: 0 1rem;
//           text-decoration: none;
//           color: $White100;
//           font-family: 'Bebas Neue', sans-serif;
//           font-size: 30px;
//           font-weight: 600;
//         }
//       }
//     }
//     &_color{
      
//       padding: 0;
//       width: 82px;
//       height: 82px;
//       border-radius: 50%;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       overflow: hidden;
//       background: none;
//       border: none;
//       cursor: pointer;
//     }
//     &_lang{
//       padding: 0;
//       width: 73px;
//       height: 74px;
//       border-radius: 50%;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       overflow: hidden;
//       background: none;
//       border: none;
//       cursor: pointer;
      
//     }
//   }
// }

// .login{
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
  
//   //border: solid red 1px;
//   height: 1500px;
//   &__h{
//     @include H_Medium_small;
//     padding: 10px 60px;
//     //border: solid red 1px;
//   }
//   &_wrapper{

//     width: 900px;
//     height: auto;
//     //border: solid red 1px;
//     box-sizing: border-box;
//   }
//   &_form{
//     display: flex;
//     flex-direction: column;
//     width: auto;
//     height: auto;
//     //border: solid red 1px;
//     box-sizing: border-box;
//     &__input{
//       @include H_Small;
//       width: 100%;
//       height: 100px;
//       border: none;
//       margin: 20px 0px;
//       padding: 10px 40px;
//       border-radius: 50px;
//       background-color: $Gray10;
//       box-sizing: border-box;
//     }
//     &_submit{
//       &_btn{
//         @include H_Medium_small;
//         width: 100%;
//         height: auto;
//         background-color: $Primary100;
//         border-radius: 50px;
//         border: none;
//         margin: 20px 0px;
//         padding: 40px 20px;
//         color: $White100;
//         box-sizing: border-box;
//       }
//     }
//   }
//   &__p{
//     @include H_Small;
//     text-align: center;
//   }
//   &__a{
//     text-decoration: none;
//     color: $Primary100;
//   }
// }




// // .header{
// //   position: relative;
// //   background-color: $Primary100;
// //   padding: 10rem 8rem;
// //   &_intro{
// //     width: 50%;
// //     &__h{
// //       @include H_Big;
// //       color: $Darkish100;
// //       margin-top: 0;
// //     }
// //     &_picture{
// //       position: absolute;
// //       right: 10rem;
// //       top: 7rem;
// //       &__img{

// //       }
// //     }
// //     &__p{
// //       @include H_Small;
// //       color: $Darkish100;
// //     }
// //   }
// //   &_mosaic{
// //     position: absolute;
// //     right: 3rem;
// //     bottom: 3rem;
// //       &__img{

// //       }
// //   }
// // }

// // .download{
// //   display: flex;
// //   flex-direction: column;
// //   align-items: center;
// //   padding: 3rem 16rem;
// //   position: relative;
// //   //background-color: $Primary50;
// //   &__h{
// //     margin-top: 0;
// //     position: relative;
// //     @include H_Big;
// //     &::after {
// //       content: '';
// //       position: absolute;
// //       z-index: -100;
// //       width: 55%;
// //       height: 50%;
// //       top: 5rem;
// //       left: 8rem;
// //       display: block;
// //       background: $Primary100;
// //       border-radius: 25px;
// //     }
// //   }
// //   &__p{
// //     @include H_Small;
// //     text-align: center;
// //     padding-left: 50rem;
// //     padding-right: 50rem;
// //   }
// //   &_links{
// //     display: flex;
// //     flex-direction: row;
// //     align-items: center;
// //     gap: 11rem;
// //     padding-top: 6rem;
// //     padding-bottom: 6rem;
    
// //     &_btn{
// //       position: relative;
// //       &::after {
// //         content: '';
// //         position: absolute;
// //         z-index: -100;
// //         width: 85%;
// //         height: 60%;
// //         top: 3rem;
// //         left: 1rem;
// //         display: block;
// //         background: $Primary100;
// //         border-radius: 15px;
// //       }
// //     }
// //   }
// //   &_decoration{
// //     position: absolute;
// //     left: 3rem;
// //     bottom: 3rem;
// //     &__img{
      
// //     }
// //   }
// // }

// // .preview{
// //   background-color: $Gray10;
// //   padding: 4rem 6rem;
// //   display: flex;
// //   flex-direction: row;
// //   justify-content: center;
// //   gap: 20rem;
// //   z-index: -100;
// //   background-image:  url('../../assets/background_polygon.png');
// //   background-repeat: no-repeat;
// //   background-position: right;
// //   &_profile{
// //     z-index: 100;
// //     position: relative;
// //     &::before {
// //       content: '';
// //       position: absolute;
// //       z-index: -10;
// //       width: 96%;
// //       height: 98%;
// //       top: 1rem;
// //       left: -1rem;
// //       display: block;
// //       background: $Primary100;
// //       border-radius: 15px;
// //     }
// //   }
// // }

// // .banner{
// //   padding-top: 10rem;
// //   padding-left: 14rem;
// //   height: 50rem;
// //   &_decoration{
// //     border-radius: 15px;
// //     height: 385px;
// //     width: 423px;
// //     background-color: $Primary100;
// //     position: relative;
// //     &__img{
// //       &_1{
// //         position: absolute;
// //         top: -4rem;
// //         left: -4rem;
// //       }
// //       &_2{
// //         position: absolute;
// //         top: -8rem;
// //         left: -8rem;
// //       }
// //     }
// //   }
// // }

// // .footer{
// //   background-color: $Primary100;
// //   padding: 3rem 0 3rem 0;
// //   //text-align: center;
// //   display: flex;
// //   flex-direction: row;
// //   align-items: center;
// //   justify-content: center;
// //   gap: 20rem;
// //   &__p{
// //     margin:0;
// //     padding: 0; 
// //     @include H_Small;
// //     color: $Darkish100;
// //   }
// // }
